                        /* INDEX */

/* NAV */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav {
    justify-content: center;
}

.ul__index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.li__item-index {
    padding: 0 2rem;
    align-self: center;
}

        /* MAIN */

/* Resume */
.div__resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    
    margin: 6rem auto;
    width: 80%;
}

.div__author {
    width: 80%;
    height: fit-content;
}

.img__author {
    width: 20%;
    border-radius: 100%;
}
.span__long-description {
    width: 80%;
}


/* SKILLS */

.div__skills-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    text-align: center;

    margin: 0 auto;
    padding: 3rem;
}

.div__skills-all div {
    padding: 2rem;
}

.div__skills-all title {
    background: var(--color-dark-blue);
    color: var(--color-neutral-yellow);
}

/* Lang Skills */
.div__languages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .div__skills {
        width: 30%;
    }

    .div__others {
        width: 30%;
    }

    .div__tools {
        width: 30%;
    }

    .div__languages {
        width: 90%;
    }
}