<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Kevin | Portfolio</title>
</head>
<body>
    <header>
        <h1>Portfolio de <strong>Michael Kevin</strong> Medeiros Barbosa</h1>
    </header>
    <main>
        <h2><figure>
            <img src="../static/img/author.jpeg" alt="Foto de Michael Kevin" width="20%">
            <figcaption>
                Engenheiro, técnico e programador.
            </figcaption>
        </figure></h2>
        
        <h3 id="cv__description">Descrição</h3>
            <p>Um tocantinense, nascido em Colinas do Tocantins (TO/BR), é técnico mecatrônico pelo IFTO - Instituto Federal de Educação, Ciência e Tecnologia do Tocantins - Campus Palmas, e bacharel em engenharia de controle e automação pela UNIFEI - Universidade Federal de Itajubá, com minor em administração - Entrepreneurship Maker na mesma instituição.</p>
            <p>Curioso por natureza e apaixonado pela ciência, é um ser INTP-A cujo adora tecnologias que permitem criar coisas, e tem background em desenvolvimento de produto embarcado, passando por impressão 3D até desenvolvimento web, todas com o mesmo ideal: criativade para gerar tecnologia que impacte pessoas.</p>
        
    </main>
    <footer>

    </footer>
</body>
</html>