<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Kevin | Portfolio</title>
</head>
<body>
    <header>
        <h1>Portfolio de <strong>Michael Kevin</strong> Medeiros Barbosa</h1>
    </header>
    <main>
        <h2><figure>
            <img src="../static/img/author.jpeg" alt="Foto de Michael Kevin">
            <figcaption>
                Engenheiro, técnico e programador.
            </figcaption>
        </figure></h2>
        <div>
            <h3 id="cv__description">Descrição</h3>
            <h3 id="cv__skills">Habilidades</h3>
            <h3 id="cv__languages">Linguagens</h3>
            <h3 id="cv__tools">Ferramentas</h3>
        </div>

        <div>
            <h3>Índice</h3>
            <ul class="ul__index">
                <li><a href="#cv__description">Descrição</a></li>
                <li><a href="#cv__skills">Habilidades</a></li>
                <li><a href="#cv__languages">Linguagens</a></li>
                <li><a href="#cv__tools">Ferramentas</a></li>
            </ul>
        </div>
        
        <p>Conheça <a target="_blank" rel="noopener noreferrer" href="https://blog.betrybe.com/">o blog da Trybe</a></p>
    </main>
    <footer>

    </footer>
</body>
</html>