<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Kevin | Portfolio</title>
</head>
<body>
    <header>
        <h1>Portfolio de <strong>Michael Kevin</strong> Medeiros Barbosa</h1>
    </header>
    <main>
        <!-- Author -->
        <h2><a href="https://www.linkedin.com/in/michael-kevin/" target="_blank"><figure>
            <img src="../static/img/author.jpeg" alt="Foto de Michael Kevin" width="20%">
            <figcaption>
                Engenheiro, técnico e programador.
            </figcaption>
        </figure></a></h2>
        
        <div>
            <!-- Long Description -->
            <h3 id="cv__description">Descrição</h3>
                <p>Um tocantinense, nascido em Colinas do Tocantins (TO/BR), é técnico mecatrônico pelo IFTO - Instituto Federal de Educação, Ciência e Tecnologia do Tocantins - Campus Palmas, e bacharel em engenharia de controle e automação pela UNIFEI - Universidade Federal de Itajubá, com minor em administração - Entrepreneurship Maker na mesma instituição.</p>
                <p>Curioso por natureza e apaixonado pela ciência, é um ser INTP-A cujo adora tecnologias que permitem criar coisas, e tem background em desenvolvimento de produto embarcado, passando por impressão 3D até desenvolvimento web, todas com o mesmo ideal: criativade para gerar tecnologia que impacte pessoas.</p>
            
            <div>
                <h3 id="cv__index">Índice</h3>
                <ul class="ul__index">
                    <li><a href="#cv__description">Descrição</a></li>
                    <li><a href="#cv__skills">Habilidades</a></li>
                    <li><a href="#cv__languages">Linguagens</a></li>
                    <li><a href="#cv__tools">Ferramentas</a></li>
                </ul>
            </div>

            <!-- Skills -->
            <h3 id="cv__skills">Habilidades</h3>
                <ul class="ul__skills">
                    <li><strong>Liderança</strong></li>
                    <li>Proatividade</li>
                    <li>Organização</li>
                    <li>Audacidade</li>
                </ul>

            <h3 id="cv__languages">Linguagens</h3>
                <ul id="ul__languages">
                    <li>C</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>TypeScript <em>(in progress)</em></li>
                    <li>Python</li>
                    <li>Dart</li>
                </ul>

                <h4>Específicas para Web</h4>
                    <ul id="ul__web-languages">
                        <li>Django</li>
                        <li>Flutter</li>
                        <li>PostgreSQL</li>
                        <li>React <em>(in progress)</em></li>
                        <li>LESS  <em>(in progress)</em></li>
                    </ul>

                <h4>Específicas para Automação</h4>
                    <p>Desenvolvedor de Supervisório SCADA</p>
                        <em>Elipse E3 Power</em>
                    <p>Desenvolvedor CLP</p>
                    <ul id="ul__aut-languages">
                        <li>Ladder</li>
                        <li>FDB</li>
                        <li>SFC</li>
                        <li>IL</li>
                    </ul>

            <h3 id="cv__tools">Ferramentas</h3>
                <ul class="ul__tools">
                    <li>Git</li>
                    <li>Github</li>
                    <li>BitBucket</li>
                    <li>Jira</li>
                    <li>Confluence</li>
                    <li>Trello</li>
                    <li>MSOffice Suite</li>
                    <li>LibreOffice Suite</li>
                    <li>Matlab</li>
                    <li>Scilab</li>
                    <li>Octave</li>
                    <li>Solidworks</li>
                </ul>
            
            <h3 id="cv__others">Outros</h3>
                <ul>
                    <li>Agile</li>
                    <li>SCRUM</li>
                    <li>Documentação</li>
                    <li>Code Review</li>
                </ul>
        </div>
        
    </main>
    <footer>
        <p>Conheça <a target="_blank" rel="noopener noreferrer" href="https://blog.betrybe.com/">o blog da Trybe</a></p>
    </footer>
</body>
</html>